@{
    ViewBag.Title = "Calender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/John.js"></script>
<table class="table table-bordered"  style='border:1px solid #000000;text-align:center;font-size:20px;'>
    <thead  style='border:1px solid #000000;text-align:center;font-size:20px;'>
        <tr  style='border:1px solid #000000;text-align:center;font-size:20px;'>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'>Time   </th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'>Monday   </th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'>Tuesday  </th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'>Wednesday</th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'>Thursday </th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'>Friday   </th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'>Saturday </th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'>Sunday   </th>
        </tr>
    </thead>
    <tbody>


        <tr>

            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'>Time: 7:00am  </th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>

        </tr>
        <tr></tr>
        <tr></tr>

        <tr>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'>Time: 8:00am  </th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'>Time: 9:00am  </th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'>Time: 10:00am  </th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'>Time: 11:00am  </th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'>Time: 12:00am  </th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'>Time: 1:00pm  </th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'>Time: 2:00pm  </th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'>Time: 3:00pm  </th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'>Time: 4:00pm  </th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'>Time: 5:00pm  </th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
            <th  style='border:1px solid #000000;text-align:center;font-size:20px;'></th>
        </tr>
        <tr></tr>

    </tbody>
</table>


<div class="input-group custom-search-form">
        @Html.ActionLink("Export to PDF", "DownloadPdf", "PdfView")
   
</div>